@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-serif: 'Playfair Display', serif;
  --font-sans: 'Inter', sans-serif;

  /* Colors */
  --color-brand-white: #fafafa;
  --color-brand-black: #121212;
  --color-brand-gray: #e5e5e5;
  --color-brand-dark-gray: #717171;

  /* Fonts */
  --font-sans: 'Inter', 'sans-serif';
  --font-serif: 'Playfair Display', 'serif';

  /* Letter Spacing */
  --letter-spacing-widest: 0.2em;
}
